@font-face {
font-family: "Notepaper"; 
src: url("https://seacinth.github.io/fonts/NotePaper-regular.otf") format("opentype");
}

body {
font-family: 'MS UI Gothic', 'Notepaper';
background-image: url("images/.png");
background-repeat: repeat;
background-color: #fff;
height: 100%;
}

.outerlayout {
border: 1px solid black;
width: 725px;
margin: 30px auto;
height: max-content;
background-color: #fff;
}

.layout {
display: grid;
grid-gap: 10px;
grid-template: 
"header header"
"nav nav"
"main main"
"footer footer"
/ 1fr 2fr;
margin: 15px auto;
max-width: 700px;
background-color: #fff;
}

header {
grid-area: header;
border: 1px solid black;
height: 180px;
}

/*---nav bar css start--- */
nav {
grid-area: nav;
text-align: center;
letter-spacing: 2px;
background-image: linear-gradient(80deg, #fff, #bdf6ff, #a2eaf5, #75ccd9, #fff);
color: #fff;
text-shadow: 1px 1px #0f79a3;
}

nav a, nav ul {
text-decoration: none;
list-style-type: none;
}

nav li {
display: inline-block;
}

nav li a, nav li span {
display: inline-block;
transition: 0.3s ease-in-out;
color: white;
}

nav li a:hover {
transform: scale(1.2);
}
/*---nav bar css end--- */

main {
grid-area: main;
border: 1px solid black;
height: 500px;
}

main p, main h1 {
padding: 10px;
}

.mainbox {
background-image: linear-gradient(180deg, #fff, #cffae8, #b1e3ce, #99cfb8, #649e85);
padding: 15px;
color: #fff;
border-bottom: solid 1px #256870;
border-radius: 15px 15px 0px 0px;
text-shadow: 2px 1px #37848e;
}

footer {
grid-area: footer;
text-align: center;
font-size: 15px;
background-image: linear-gradient(80deg, #fff, #bdf6ff, #a2eaf5, #75ccd9, #fff);
color: #fff;
text-shadow: 1px 1px #0f79a3;
}
