@font-face {
font-family: "Notepaper"; 
src: url("https://seacinth.github.io/fonts/NotePaper-regular.otf") format("opentype");
}

body {
font-family: 'MS UI Gothic','Notepaper';
cursor: url("images/keythillskey.png"), auto;
background-image: url("images/.png");
background-repeat: repeat;
background-color: #f7f4f4;
height: 100%;
color: #332733;
}

a:hover { 
cursor: url("images/keythillskey.png"), auto;
  }
  
.auto {
cursor: url("images/keythillskey.png"), auto;
}

.outerlayout {
border: 1px solid #3d323d;
width: 725px;
margin: 15px auto;
height: max-content;
background-color: #fdfdfd;
}

.layout {
display: grid;
grid-gap: 10px;
grid-template: 
"header header"
"nav nav"
"main main"
"footer footer"
/ 1fr 2fr;
margin: 15px auto;
max-width: 700px;
background-color: #fdfdfd;
}

header {
grid-area: header;
border: 1px solid #3d323d;
height: 150px;
background-color: #fdfdfd;
}

/*---nav bar css start--- */
nav {
grid-area: nav;
text-align: center;
letter-spacing: 2px;
background-image: linear-gradient(80deg, #fdfdfd, #f2dad3, #e6c9c1, #f2dad3, #fdfdfd);
color: #fff;
text-shadow: 1px 1px #bf998e;
}

nav a, nav ul {
text-decoration: none;
list-style-type: none;
}

nav li {
display: inline-block;
}

nav li a, nav li span {
display: inline-block;
transition: 0.3s ease-in-out;
color: white;
}

nav li a:hover {
transform: scale(1.2);
}
/*---nav bar css end--- */

main {
grid-area: main;
border: 1px solid #3d323d;
height: 500px;
background-image: url("images/polkadots.png");
background-size: 100%;
}

main p, main h3 {
padding: 10px;
}

.mainbox {
background-image: linear-gradient(180deg, #9e9291, #8a7d7c, #7a6c6a, #6e6463, #5e5251, #4a3f3d, #362c2b);
padding: 10px;
color: #fdfaf5;
border-bottom: solid 1px #256870;
text-shadow: 2px 1px #211b1b;
}

footer {
grid-area: footer;
text-align: center;
font-size: 15px;
background-image: linear-gradient(80deg, #fff, #fdfdfd, #f2dad3, #e6c9c1, #f2dad3, #fdfdfd, #fff);
color: #fff;
text-shadow: 1px 1px #bf998e;
}
