body {
font-family: 'MS UI Gothic', 'MS Gothic', 'Courier New', sans-serif;
background-image: url("images/.png");
background-repeat: repeat;
background-color: #fff;
height: 100%;
}

.layout {
max-width: 800px;
display: grid;
grid-gap: 15px;
grid-template:
"header header"
"nav nav"
"sidebar main"
"box box"
"footer footer"
/ 1fr 2fr;
margin: 50px auto;
grid-template-columns: 200px minmax(0, 1fr);
}

header { 
grid-area: header;
border: 2px solid black;
height: 150px;
}

/*---nav bar css start--- */
nav {
grid-area: nav;
text-align: center;
}

nav a, nav ul {
text-decoration: none;
list-style-type: none;
}

nav li {
display: inline-block;
position: relative;
height:2em;
line-height:2em;
margin: 5px;
}

nav li a, nav li span {
display: inline-block;
background-image: linear-gradient(180deg, #cfeeff, #9cdcff, #35b8ff, #2d47ba);
color: white;
padding: 5px 15px;
border: 2px solid #2d47ba;
border-radius: 25px;
font-weight: bold;
text-shadow: 1px 1px #152c8f;
box-shadow: 4px 4px #90f5e6;
transition: 0.3s ease-in-out;
}

nav li a:hover {
background-image:  linear-gradient(180deg, #f2bfe1, #f59dd8, #eb7fc8, #ad478c);
border-color: #ad478c;
text-shadow: 1px 1px #ad478c;
box-shadow: 4px 4px #ffde70;
transform: scale(1.1);
}
/*---nav bar css end--- */

aside {
grid-area: sidebar;
border: 2px solid black;
height: 300px;
}

.project {
background-image:  linear-gradient(180deg, #f2bfe1, #f59dd8, #eb7fc8, #ad478c);
padding: 15px;
color: #fff;
border-bottom: solid 2px black;
}

.updatelog {
background-image: linear-gradient(180deg, #eaf5c6, #e2f5a4, #c3dd6e, #b3cc62);
padding: 15px;
color: #fff;
border-bottom: solid 2px black;
}

main {
grid-area: main;
border: 2px solid black;
height: max-content;
text-align: left;
padding: 15px;
overflow-y: auto;
overflow-x: hidden;
scrollbar-color: #610b1f white;
scrollbar-width: thin;
}

.box {
grid-area: box;
border: 2px solid black;
height: 250px;
width: 198px;
}

footer {
grid-area: footer;
text-align: center;
border: 2px solid black;
}
